@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

// COLORS

$pureWhite: #ffffff;
$creamishWhite: #fff7f0;
$black: #000000;
$graphicDesignBackgroundColor: #755CDE;
$uiAndUxBackgroundColor: #F6A560;
$appsBackgroundColor: #F39E9E;
$illustrationBackgroundColor: #EB7565;
$btnLightColor: #EB7565;
$photographyBackgroundColor: #61C4B7;
$motionGraphicsBackgroundColor: #552049;

$blackBackgroundHoverColor: #755CDE;
$lightBackgroundHoverColor: #F6A560;

// FONTS

$mainFontFamily: 'Plus Jakarta Sans', sans-serif;
$txtColor: #7A746E;
$defaultFontSize: 1.625rem;
$fontSizeM: 1.8rem;
$mainHeaderFontSize: 3.5rem; 
$mainHeaderFontSizeM: 4.4rem; 
$mainHeaderFontSizeL: 5.6rem; 
$secondaryHeaderFontSize: 2.6rem;
$secondaryHeaderFontSizeS: 3.2rem;
$secondaryHeaderFontSizeM: 4.2rem;
$secondaryHeaderFontSizeMContact: 4.05rem;

$tertiaryHeaderFontSize: 2.4rem;
$tertiaryHeaderFontSizeM: 3.2rem;
$btnFontSize: 1.4rem;
$btnFontSizeM: 1.6rem;
$btnFontSizeL: 1.8rem;
$txtLineHeight: 1.625rem;
$offerTxtSize: 2.4rem;
$offerTxtWeight: 600;
